@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Custom Css S */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}
ul{
    padding: 0px;
    margin-bottom: 0px;
}


a,a:hover{
    text-decoration: none;
}


h1{
    font-size : 49px

}
h2{
    font-size : 34px
 
}
h4{
    font-size: 24px;
}
h5{
    font-size: 18px;
}

.ct_fs_12{
    font-size: 12px;
}

.ct_fs_13{
    font-size: 13px;
}
.ct_fs_14{
    font-size: 14px !important;
}
.ct_fs_19{
    font-size: 19px;
}
.ct_fs_16{
    font-size: 16px !important;
}
.ct_fs_21{
    font-size:21px
}
.ct_fs_25{
    font-size:25px
}
.ct_fs_35{
    font-size: 35px;
}
.ct_fw_400{
    font-weight: 400;
}
.ct_fw_600{
    font-weight: 600;
}
.ct_fw_700{
    font-weight: 700 !important;
}
:root{
    --ct_dart_grey : #1e90ff;
    --ct_blue: #3A46D1;
    --ct_darkblue : #0C1133;
    --ct_light_blue: #0033FF;
    --ct_grey: #5F5F5F;
    --black : #0F0000;
    --yellow : #FDB900;
    --red: #E80D31;
    --lightgrey: #F4F5FC;
    --lightblue:#EAECF9
   

}

@font-face {
    font-family: segoe_ui;
    src: url('../fonts/Segoe_UI.ttf');
}
@font-face {
    font-family: segoe_ui_bold;
    src: url('../fonts/Segoe_UI_Bold.ttf');
}


.ct_py_80{
    padding-block: 80px;
}
/* Custom Css E */


/* Header Css S */

header{
    background-color: var(--ct_darkblue);
    padding-block: 10px;
}

.ct_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ct_navlinks{
    transition: 0.4s ease all;
}
.ct_navlinks ul,.ct_right_menu ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.ct_navlinks ul{
    gap: 40px;
}
.ct_navlinks ul li a{
    color: #fff;
    font-family: segoe_ui;
    font-weight: 500;
    padding-block: 24px;
}
.ct_right_menu {
    display: flex;
    align-items: center;
    gap: 30px;
}
.ct_right_menu ul a{
    color: #fff;
    font-family: segoe_ui;
    font-weight: 500;
}
.ct_add_listing_btn {
    background-color: var(--ct_blue);
    padding: 10px 15px;
    border: 1px solid var(--ct_blue);
    outline: none;
    transition: 0.4s ease all;
    z-index: 1;
    position: relative;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-family: segoe_ui_bold;
    letter-spacing: 0.6px;

}
.ct_toggle_menu.ct_close span{
    transform: 0.4s ease all;
}
.ct_toggle_menu.ct_close span:nth-child(2) {
    display: none;
}

.ct_toggle_menu.ct_close span:nth-child(1) {
transform: rotate(45deg);
}
.ct_toggle_menu.ct_close span:nth-child(3) {
    transform: rotate(-45deg);
    }

    .ct_toggle_menu.ct_close span:nth-child(3) {
        transform: rotate(-45deg);
        position: relative;
        top: -6px;
        left: 0px;
    }
.ct_desktop_none{
    display: none;
}



.ct_custom_dropdown > ul {
    position: absolute;
    flex-direction: column;
    width: 250px;
    background-color: #000;
    gap: 15px;
    align-items: self-start;
    top: 46px;
    gap: 0px;
    background-color: #fff;
    box-shadow: 0 20px 30px -5px rgba(173, 173, 173, .3), 0 0 1px rgba(119, 119, 119, .25);
    border-radius: 5px;
    list-style: none;
    transform: translateY(50px);
    transition: 0.4s ease all;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    display: none;
}
.ct_custom_dropdown ul  a{
    color: #000;
}
li.ct_custom_dropdown {
    position: relative;
    transition: 0.4s ease all;
}

.ct_custom_dropdown ul li a {
    color: #000;
    transition: 0.4s ease all;
    padding-block: 0px;
    display: block;
}


.ct_custom_dropdown ul li {
    padding: 10px 15px;
    width: 100%;
    transition: 0.4s ease all;
}
.ct_custom_dropdown ul li:hover {
    background-color: #f5f5f5;
  
}
.ct_custom_dropdown ul li:hover a{
    color: #3a46d1;
    transform: translateX(10px);
}

.ct_custom_dropdown:hover  ul{
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
    display: block;
}
header.ct_sticky_menu {
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0px;
    z-index: 9;
    animation: slideDown 0.35s ease-out;
}
@keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
header.ct_sticky_menu  ul li > a{
    color: #000;
}
header.ct_sticky_menu  ul li a.ct_add_listing_btn{
    color: #fff;
}
/* Home banner Css S */


.ct_banner_bg {
    background-image: url(../img/Home_banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 550px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    
}
.ct_banner_bg:before {
    content: "";
    position: absolute;
    top: 0px;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

.ct_banner_cnt h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
}
.ct_banner_filter_search {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 12px 50px;
    border-radius: 10px;
    gap: 15px;
}
.ct_banner_filter_search select.form-control {
    appearance: auto;
    width: fit-content;
    outline: none;
    border: 0px;
    box-shadow: unset;
    font-weight: 500;
}
.ct_banner_filter_search input.form-control {
    height: 48px;
    background-color: #F4F5FC;
    box-shadow: unset;
    border-color: #F4F5FC;
}

button.ct_black_btn {
    background-color: #1C1C1D;
    color: #fff;
    padding: 10px 30px;
    height: 48px;
    border-radius: 10px;
    font-weight: 500;
    position: relative;
    transition: 0.4s ease all;
    z-index: 1;
    outline: none;
    border: 1px solid #1C1C1D;
}

button.ct_black_btn:hover{
    background-color: var(--ct_blue);
}


/* Categories item Section S */
.ct_grid_6{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    gap: 1rem;
}
.ct_categories_img{
    position: relative;
}

.ct_categories_img img {
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    transition: all .2s ease-in-out;
    object-fit: contain;
    max-height: 176px;
    height: 200px;
}
.ct_categories_img:hover img{
    transform: scale(1.1);
}
.ct_category_item {
    text-align: center;
    margin: 0 14px 25px;
}

.ct_categories_img:after{
    content: "";
    position: absolute;
    left: calc(50% - 76px);
    top: 14px;
    width: 152px;
    height: 152px;
    background-color: purple;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 10px 35px 50px -10px rgba(255, 188, 188, .5);
    transition: all .35s cubic-bezier(0.49, -0.07, 0.32, 1.32)
}

.ct_categories_img:hover:after{
    box-shadow: 0px 30px 40px 10px rgba(211,211,211,.7);
}
.ct_category_item figcaption h5{
    margin-top: 15px;
}

.ct_grid_6 a:nth-child(1) .ct_categories_img:after{
    background: linear-gradient(90deg, #FA5362 0%, #F51C6C 100%);
}
.ct_grid_6 a:nth-child(2) .ct_categories_img:after{
    background: linear-gradient(90deg, #D7D6B4 0%, #F8EFBA 100%);
}
.ct_grid_6 a:nth-child(3) .ct_categories_img:after{
    background: linear-gradient(90deg, #BED0B4 0%, #ECC3B9 100%);
}
.ct_grid_6 a:nth-child(4) .ct_categories_img:after{
    background: linear-gradient(90deg, #FCBCC6 0%, #FEADC8 100%);
}
.ct_grid_6 a:nth-child(5) .ct_categories_img:after{
    background: linear-gradient(90deg, #C1B4D2 0%, #F4BAD6 100%);
}
.ct_grid_6 a:nth-child(6) .ct_categories_img:after{
    background: linear-gradient(90deg, #C1B4D2 0%, #FFBCC1 100%);
}
/* Categories item Section E */


/* Trending section S */
.ct_max_width_88{
    max-width: 88rem;
}
figure.ct_trending_card {
    margin-bottom: 0px;
    background-color: #F4F5FC;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.4s ease all;
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    

}
.px-15{
    padding-inline: 16px;
}
.ct_treding_img{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.ct_treding_img img{
    transition:all .6s ease;
    object-fit: cover;
}
.ct_img_h_603{
    height: 603px;
}
.ct_img_h_211 {
    height: 225px;
    object-fit: cover;
}
.ct_trending_card figcaption h4 {
    white-space: nowrap;
    overflow: hidden;
    /* width: 298px; */
    text-overflow: ellipsis;
}
.ct_treding_img > a{
    /* position: relative; */
    /* z-index: 1; */
    display: block;
}
.ct_treding_img a{
z-index: 1;
position: relative;
}
.ct_treding_img a:after{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: .35s cubic-bezier(0.74, -0.22, 0.1, 1.36);
    border-radius: 8px 8px 0 0;
    /* z-index: -1; */
}
.ct_treding_img a:before{
    content: "";
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: .35s cubic-bezier(0.74, -0.22, 0.1, 1.36);
    border-radius: 8px 8px 0 0;
    /* z-index: -1; */
}
.ct_treding_img a:before {
    content: "";
    display: block;
    position: absolute;
    height: 72%;
    width: 100%;
    top: 0;
    opacity: 1;
    background: linear-gradient(237.05deg, #000000 1.32%, rgba(0, 0, 0, 0) 16.99%);
    transition: .35s cubic-bezier(0.74, -0.22, 0.1, 1.36);
    /* border-radius: 8px 8px 0 0; */
    /* z-index: -1; */
    right: 0px;
}
figure.ct_trending_card:hover .ct_treding_img > a:after{
    opacity: 1;
}

.ct_trending_card:hover .ct_treding_img img{
    transform: scale(1.4);
}
.ct_trending_card:hover  .ct_auction_count_main{
    bottom: -50%;
}
.ct_auction_count_main p {
    font-size: 11px;
}
.ct_auction_count_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 16px;
    width: calc(100% - 30px);
    left: 0px;
    right: 0px;
    margin-inline: auto;
    background: rgba(244, 245, 252, .82);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    backdrop-filter: blur(3.5px);
    border-radius: 4px;
    padding: 8px 30px 5px;
    transition: bottom .3s ease-in-out;
    z-index: 1;
}
.ct_auction_ended_red,.ct_auction_count_ended{
    background-color: rgb(232 13 49 / 60%) !important;
    border-color:#fff !important;
}
.ct_auction_count_ended{
    color: #fff;
}
.ct_drop_close_12 {
    background-color: var(--ct_blue);
    color: #fff;
    padding: 10px 30px;
    height: 48px;
    border-radius: 10px;
    font-weight: 500;
    position: relative;
    transition: 0.4s ease all;
    z-index: 1;
    outline: none;
    border: 1px solid var(--ct_blue);
}
.ct_blue_btn{
    background-color: var(--ct_light_blue);
    padding: 8px 25px 8px;
    border: 1px solid var(--ct_light_blue);
    color: #fff;
    border-radius: 5px;
    transition: 0.4s ease all;
    outline: none;

}

.ct_blue_btn:hover{
    background-color: #1C1C1D;
    border-color: #1C1C1D;
}

.ct_bid_button_on_hover {
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0px;
    margin-inline: auto;
    text-align: center;
    transition: bottom .3s ease-in-out;
    bottom: -50%;
}
.ct_trending_card:hover  .ct_bid_button_on_hover{
    bottom: 15px;
}
.ct_trending_card figcaption{
    padding: 15px 16px 0px;
}
.ct_sale_button_top{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
}
.ct_sale_button_top button{
    background-color: var(--red);
    padding: 9px 18px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid var(--red);
    font-weight: 600;
}
/* Trending section E */


/* Upcomming Auction Section S */
.ct_blank_light_blue_bg{
    background-color: var(--lightblue);
    height: 187px;
    width: 100%;
}
.ct_mb_35{
    margin-bottom: 35px;
}
.ct_section_overlap_on_bg {
    position: relative;
    margin-top: -131px;
}
.ct_blank_light_blue_bg_222{
    height: 222px;
}
.ct_section_overlap_on_bg_316 {
    position: relative;
    margin-top: -316px;
}
/* Upcomming Auction Section E */

/* Product Picked Section css S */
.ct_blank_light_blue_bg_222{
    background-color: var(--lightblue);
    height: 222px;
    width: 100%;
}
.ct_mb_53{
    margin-bottom: 53px;
}
.ct_yellow_btn{
    background-color: var(--yellow) !important;
    border-color: var(--yellow) !important;
    color: #000 !important;
    font-weight: 700 !important;
    white-space: nowrap;
}
.ct_product_picked_card {
    /* background-position: center;
    background-size: cover;
    height: 222px; */
    position: relative;  
    transition: 0.4s ease all;
}
.ct_product_picked_card img{
    height: 222px;
}
.ct_hover_scale_img{
    position: relative;  
    overflow: hidden;
    transition: 0.4s ease all;
}
.ct_hover_scale_img img{
    transition: 0.4s ease all;
}
.ct_product_picked_card:hover .ct_hover_scale_img img{
    transform: scale(1.1);
}
.ct_product_picked_cnt_right {
    position: absolute;
    width: 40%;
    max-width: 260px;
    bottom: 0;
    right: 15px;
    padding-right: 30px;
    padding-bottom: 30px;
    transition: all .4s ease-in-out;
}
.ct_product_picked_cnt_left {
    position: absolute;
    width: 40%;
    max-width: 260px;
    bottom: 30px;
    left: 15px;
    padding-left: 30px;
    padding-top: 30px;
    transition: all .4s ease-in-out;
    z-index: 1;
}
/* Product Picked Section css e */

/* Premier Seller Section css S */
.ct_premier_card_bg {
    background-image: url(../img/premier_seller_grey.png);
    background-position: center;
    padding: 10px 20px;
    border-radius: 2px;
    border: 1px solid #F4F5FC;
    height: 229px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    transition: 0.4s ease all;
    z-index: 1;
    position: relative;
    box-shadow: 0px 9px #F4F5FC;
    margin-bottom: 20px;
}
.ct_black_overlay_img:before{
    content: "";
    position: absolute;
    inset: 0px;
    background-color: rgb(0 0 0 / 45%);
    z-index: -1;
}
.ct_premier_card_bg:hover{
    border-color: var(--ct_light_blue);
    border-bottom-width: 1px;
}
.ct_review_star{
    display: flex;
    align-items: center;
    gap: 2px;
}
.ct_seller_img{
    background-color: #fff;
    box-shadow: 0px 3px 30px 0px #0000001A;
    border-radius: 6px;
    padding: 6px;
    width: 68px;
    height: 68px;
    margin-top: 15px;
}
.ct_seller_img img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}
.ct_review_star i{
    font-size: 17px;
    color: #FA9A00;
}
.ct_featured_label{
    width: 20px;
    height: 4px;
    border-radius: 4px;
    background-color:#2D54A3;
    display: block;
}
.ct_mb_42{
    margin-bottom: 42px;
}

.ct_arrow_button{
    width: 38px;
    height: 38px;
    border-radius: 100px;
    background-color: var(--ct_light_blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    bottom: -19px;
    right: 40px;
    transition: 0.4s ease all;
}
.ct_arrow_button:hover{
    transform: translateX(10px);
}
/* Premier Seller Section css E */


/* Footer Css S */
footer{
    background-color: var(--ct_darkblue);
    padding: 32px 0px 0px;
}
.ct_footer_left_cnt p{
    color: #D4D4D4;
}
.ct_footer_left_cnt a{
    color: #D4D4D4;
    transition: 0.4s ease all;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ct_text_clr_d4d4d4{
    color: #d4d4d4;
}

.ct_footer_links ul {
    list-style: none;
    padding-left: 13px;
}
.ct_footer_links ul li + li{
    margin-top: 20px;
}

.ct_footer_links ul li a{
    color: #d4d4d4;
    transition: 0.4s ease all;
    position: relative;
    display: block;
}
.ct_footer_links ul li a:hover{
    transform: translate(5px);
}
.ct_footer_links ul li a:before{
    content: "";
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 2px;
    background-color: var(--red);
}

.ct_newletter_btn{
    background-color: var(--ct_blue);
    padding: 11px 50px 11px;
    border-radius: 10px;
    line-height: 2em;
    font-size: 15px;
    color: #fff;
    height: 52px;
    outline: none;
    border: 1px solid  var(--ct_blue);;
    
}

.ct_news_letter_input {
    /* height: 48px !important; */
    background-color: #F4F5FC !important;
    border: 1px solid #f4f5fc;
    padding-block: 11px;
}

.ct_bottom_footer {
    padding: 26px 15px;
    border-top: 1px solid rgb(134 134 235 / 14%);
}